<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<style>
		body{ 

			font: 14px "맑은 고딕", sans-serif;
   			line-height: 1.9em;
   			text-align: left;
			padding: 0 1.5em;
			color: #444;
		}

		h1, h2{color: #566b77; font-weight: 100;}
	
		a{text-decoration: none;}
		a:hover{text-decoration: underline;}
		
		::selection {
		 background: #c9f2d0;
		} 
	

p::selection {
  color: white;
  background: black;
}

	</style>
</head>
<body>
	<h1>시작하기</h1>
	
	{{ content }}

	{% include footer.html %}
</body>
</html>
