<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="./styles/fonts.css">

	<style>
		body{ 

			font: 14px "맑은 고딕", sans-serif;
   			line-height: 1.9em;
   			text-align: left;
			padding: 0 1.5em;
			color: #444;
		}
		
		a{color:#680;}

		h1, h2{color: #566b77; font-weight: 100;}
	
		a{text-decoration: none;}
		a:hover{text-decoration: underline;}
		
		::selection {
		 background: rgb(229, 255, 136);
		 color: #000;
		} 


	</style>
	
</head>
<body>
	<h1>시작하기</h1>

	<h2>Leejoohee</h2>
	<p>Markup Designer / Css Desinger / Domscript </p>

	<h2>포스트</h2>
	{{ content }}

	
	{% include footer.html %}
</body>
</html>
